.container {
  display: grid;
  /* grid-template-columns: repeat(12, 1fr); */
  padding: 50px;
}

.ml {
  margin-left: 30px;
}

.mr {
  margin-right: 20px;
}

.mb {
  margin-bottom: 30px;
}

.card {
  border: 1px solid black;
  padding: 20px;
  max-width: auto;
  min-width: auto
}