.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 50px;
}

.fit {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.card {
  border: 1px solid black;
  padding: 20px;
  max-width: auto;
  min-width: auto
}
